body {
	background: url("../images/F-Stop-Spot-Rusted-Metal-01 - Copy.jpg");
	background: cover;
	color: black;
}

.languagebg {
	display:block;
	position: absolute;
	top:158px;
	right:90px;
}

.languageen {
	b	display:block;
	position: absolute;
	top:158px;
	right:90px;
}

.title {
	position: absolute;
	top: 45px;
	left: 150px;
	width: 300px;
	height: 300px;
	font-family: cursive;
}

.about-me {
	position: fixed;
	top: 40px;
	left: 55px;
	width: 20px;
	height: 20px;
	font-family: cursive;
}

.call-to-action {
	position:fixed;
	bottom: -275px;
	left: 73px;
	width: 300px;
	height: 400px;
	font-family: cursive;
}

#footer {
	position: absolute;
	bottom: 20px;
	left: 90px;
}

#footer .icon {
	text-decoration: none;
}

#footer .icon img {
	width: 60px;
	height: 60px;
}
