body {
	background: url("../images/F-Stop-Spot-Rusted-Metal-01 - Copy.jpg");
	background-size: cover;
	color: black;
}

.languagebg {
	display:block;
	position: absolute;
	top:158px;
	right:90px;
}

.languageen {
	display:block;
	position: absolute;
	top:158px;
	right:90px;
}

.title {
	position: absolute;
	top: 45px;
	left: 150px;
	width: 300px;
	height: 300px;
	font-family: cursive;
}

.about-me {
	position: fixed;
	top: 40px;
	left: -100px;
	width: 20px;
	height: 20px;
	font-family: cursive;
}

.call-to-action {
	position:fixed;
	bottom: -230px;
	left: 200px;
	width: 300px;
	height: 400px;
	font-family: cursive;
}

#robot {
	position: absolute;
	bottom: 25px;
	right: 165px;
	z-index: -1;
}

#footer {
	position: absolute;
	bottom: 40px;
	left: 190px;
}

#footer .icon {
	text-decoration: none;
}

#footer .icon img {
	width: 80px;
	height: 80px;
}
